<div class="dropdown menu">
  <img src='<%= asset_path('menu.svg') %>'  class="avatar dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"/>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" id="switch" href="#">
      <img class="avatar" src='<%= asset_path('warp.png') %>' alt="">
      Time Travel
    </a>
    <a class="dropdown-item" id="shop" href="../user_units/new">
      <img class="avatar" src="<%= asset_path('shop.svg') %>" alt="">
      Shop
    </a>
    <a class="dropdown-item" id="raid" href="../base/raid">
      <img class="avatar" src="<%= asset_path('sword.svg') %>" alt="">
      Raid
    </a>
    <a class="dropdown-item" id="friend" href="../base/friend">
      <img class="avatar" src="<%= asset_path('sword.svg') %>" alt="">
      Friends
    </a>
  </div>
</div>

    <div class="con" style="padding: 0">
      <div id="map"
        data-markers="<%= @cache_resources.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
<div id="phaser-app"></div>
