

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="exchange-tab" data-toggle="tab" href="#exchanged" role="tab"><i class="fas fa-exchange-alt fa-2x"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="soldiers-tab" data-toggle="tab" href="#soldiers" role="tab"><i class="fas fa-users fa-2x"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="structures-tab" data-toggle="tab" href="#structures" role="tab"><i class="fas fa-tools fa-2x"></i></a>
  </li>
</ul>


<!-- approach 1 -->
 <!-- send get request , 'shop/:filter' -->
 <!-- @search = params[filter'] -->
 <!-- approach 2 -->
 <!-- javascript when filter is clicked -> display:none for non related , display: block for filter choice -->
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="exchanged" role="tabpanel">
    <div class="pg-exchange">
      <p>Trade resources for gems</p>
      <%= form_tag inventory_exchange_path, autocomplete: :off do %>
        <div class="resources">
          <div class="first-row-exchange">
            <div class="exchange-wood">
              <a href="#" class="resource-chooser" data-resource="wood"
                 data-amount="<%= @resources[:wood] %>">
                <div class="card-trip-exchange">
                  <img src="https://image.flaticon.com/icons/svg/395/395005.svg" />

                  <div class="card-trip-infos">
                  <h2>Wood</h2>
                  </div>
                </div>
              </a>
            </div>

            <div class="exchange-water">
              <a href="#" class="resource-chooser" data-resource="water"
                 data-amount="<%= @resources[:water] %>">
                <div class="card-trip-exchange">
                  <img src="https://image.flaticon.com/icons/svg/315/315339.svg" />

                  <div class="card-trip-infos-exchange">
                  <h2>Water</h2>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="second-row-exchange">

            <div class="exchange-metal">
              <a href="#" class="resource-chooser" data-resource="iron"
                 data-amount="<%= @resources[:iron] %>">
                <div class="card-trip-exchange">
                  <img src="https://image.flaticon.com/icons/svg/605/605702.svg" />
                  <div class="card-trip-infos">
                  <h2>Iron</h2>
                  </div>
                </div>
              </a>
            </div>

            <div class="exchange-gold">
              <a href="#" class="resource-chooser" data-resource="gold"
                 data-amount="<%= @resources[:gold] %>">
                <div class="card-trip-exchange">
                  <img src="https://image.flaticon.com/icons/svg/362/362944.svg" />

                  <div class="card-trip-infos">
                  <h2>Gold</h2>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="submitted-exchange-fields">
            <div class="quant-exchanged">
            <%#= number_field_tag :amount, 0, min: 0, step: 20, onchange: "handleGemChange(this)" %>
            <%= hidden_field_tag :amount, 0 %>

            <!-- Amount spinner -->
            <div class="material-amount-spinner">
              <a href="#" class="spinner-arrow spinner-arrow-up">
                <i class="fas fa-caret-up"></i>
              </a>
              <div class="spinner-view"><strong>0</strong></div>
              <a href="#" class="spinner-arrow spinner-arrow-down">
                <i class="fas fa-caret-down"></i>
              </a>
            </div>
            <p id="arrow-right"><i class="fas fa-long-arrow-alt-right"></i></p>
            <p id='gem-value'></p>
            <img src="https://pbs.twimg.com/profile_images/531994916181012480/EBap51cO_400x400.png" alt="" style="width: 36px;height: 36px">
            </div>

            <%= hidden_field_tag 'material', :wood %>
            <%= button_tag(type: "submit", class: "exchange-btn") do %>
                Exchange <i class="fas fa-exchange-alt"></i>
            <% end %>
            <center><p id="back-button" style='color: rgba(255,255,255,0.8); font-size: 14px;'>Back <i class="fas fa-undo-alt ml-1"></i></p></center>
          <% end %>
        </div>
    </div>
  </div>

  <div class="tab-pane fade" id="soldiers" role="tabpanel">
    <div class="soldiers">
      <%= form_tag soldiers_buy_path, remote: true do %>
       <div class="first-row-soldier">
         <div class="one-fighter soldier-selector" data-amount="1">
             <div class="card-trip-soldier">
               <img src="<%= asset_path( 'knight.svg' ) %>" height="160px" width="160px" />
               <div class="card-trip-infos">
                 <h2>1 Fighter</h2>
                 <div class="soldier-price">
                  <p>10</p>
                  <img src="https://pbs.twimg.com/profile_images/531994916181012480/EBap51cO_400x400.png" alt="" style="width: 20px;height: 16px">
                </div>
               </div>
             </div>
          </div>

        <div class="ten-fighters soldier-selector" data-amount="10">
           <div class="card-trip-soldier">
            <img src="<%= asset_path( 'knight.svg' ) %>" height="160px" width="160px" />

             <div class="card-trip-infos">
               <h2>10 Fighters</h2>
               <div class="soldier-price">
                  <p>90</p>
                  <img src="https://pbs.twimg.com/profile_images/531994916181012480/EBap51cO_400x400.png" alt="" style="width: 20px;height: 16px">
                </div>
             </div>
           </div>
        </div>
      </div>

     <div class="second-row-soldier">

       <div class="one-fighter soldier-selector" data-amount="1">
           <div class="card-trip-soldier">
             <img src="<%= asset_path( 'wizard.svg' ) %>" height="160px" width="160px" />
             <div class="card-trip-infos">
               <h2>1 Mage</h2>
               <div class="soldier-price">
                  <p>10</p>
                  <img src="https://pbs.twimg.com/profile_images/531994916181012480/EBap51cO_400x400.png" alt="" style="width: 20px;height: 16px">
                </div>
             </div>
           </div>
       </div>

       <div class="ten-fighters soldier-selector" data-amount="10">
           <div class="card-trip-soldier">
             <img src="<%= asset_path( 'wizard.svg' ) %>" height="160px" width="160px" />
             <div class="card-trip-infos">
               <h2>10 Mages</h2>
               <div class="soldier-price">
                  <p>90</p>
                  <img src="https://pbs.twimg.com/profile_images/531994916181012480/EBap51cO_400x400.png" alt="" style="width: 20px;height: 16px">
                </div>
             </div>
           </div>
       </div>
     </div>
     <div class="buy-bar mt-4">
        <%= hidden_field_tag :unit_amount, 0 %>
        <%= button_tag(type: "submit", class: "exchange-btn") do %>
            Buy Soldier
        <% end %>
      <% end %>
      <center><p id="buy-back-btn" class="buy-back-btn" style='color: rgba(255,255,255,0.8); font-size: 14px;'>Back <i class="fas fa-undo-alt ml-1"></i></p></center>
      </div>
    </div>
  </div>

  <div class="tab-pane fade" id="structures" role="tabpanel">
      <div class="structures">
        <%= form_tag structures_buy_path, remote: true do %>
        <div class="first-row-structure">
          <div class="structure-barrack structure-selector" data-structure="Barracks">
            <a href="#" class="structure-selector" data-structure="barrack"></a>
            <div class="card-structure">
              <div class='p-2'>
                <img src="<%= asset_path( 'Barrack.png' ) %>" height="160px" width="160px" />
              </div>


              <div class="card-structure-infos">
                <h2>Barrack</h2>
                <div class="structure-resource-price-bar">
                   <div class="structure-resource-price">
                    <p>40</p>
                    <img src="<%= asset_path( 'gold_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="structure-resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'wood_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="structure-resource-price">
                    <p>0</p>
                    <img src="<%= asset_path( 'iron_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="structure-resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'water_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="structure-boat structure-selector" data-structure="Boat">
             <div class="card-structure">
              <div class='p-2'>
                <img src="<%= asset_path( 'boat.png' ) %>" height="160px" width="160px" />
              </div>


              <div class="card-structure-infos">
                <h2>Boat</h2>
                <div class="structure-resource-price-bar">
                   <div class="structure-resource-price">
                    <p>40</p>
                    <img src="<%= asset_path( 'gold_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="structure-resource-price">
                    <p>10</p>
                    <img src="<%= asset_path( 'wood_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="structure-resource-price">
                    <p>10</p>
                    <img src="<%= asset_path( 'iron_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="structure-resource-price">
                    <p>0</p>
                    <img src="<%= asset_path( 'water_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="second-row-structure">
          <div class="structure-medic structure-selector" data-structure="Medic">
             <div class="card-structure">
              <div class='p-2'>
                <img src="<%= asset_path( 'House1.png' ) %>" height="160px" width="160px" />
              </div>


              <div class="card-structure-infos">
                <h2>Medical Center</h2>
                <div class="structure-resource-price-bar">
                   <div class="structure-resource-price">
                    <p>40</p>
                    <img src="<%= asset_path( 'gold_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="structure-resource-price">
                    <p>0</p>
                    <img src="<%= asset_path( 'wood_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="structure-resource-price">
                    <p>40</p>
                    <img src="<%= asset_path( 'iron_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="structure-resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'water_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div class="structure-wheel structure-selector" data-structure="Wheel">
             <div class="card-structure">
              <div class='p-2'>
                <img src="<%= asset_path( 'House2.png' ) %>" height="160px" width="160px" />
              </div>


              <div class="card-structure-infos">
                <h2>Water Well</h2>
                <div class="structure-resource-price-bar">
                   <div class="structure-resource-price">
                    <p>10</p>
                    <img src="<%= asset_path( 'gold_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="structure-resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'wood_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="structure-resource-price">
                    <p>0</p>
                    <img src="<%= asset_path( 'iron_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="structure-resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'water_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="buy-bar mt-4">
          <%= hidden_field_tag 'structure', :structure %>
          <%= button_tag(type: "submit", class: "exchange-btn", id: "bought-structure") do %>
              Buy Now
          <% end %>
          <center><p id="buy-back-btn" class="buy-back-btn" style='color: rgba(255,255,255,0.8); font-size: 14px;'>Back <i class="fas fa-undo-alt ml-1"></i></p></center>
        <% end %>
        </div>
      </div>
  </div>


</div>
<div class="bar-container" style="background-color: black">
  <div class="bd-highlight res-bar">

     <div class="d-flex" id="resources-iron">
      <p class='white-text'><%= current_user.resources_amounts[:iron] %></p>
     <img src="<%= asset_path( 'iron_new.svg' ) %>" height="32px" width="24px" />
     </div>

     <div class ='d-flex' id="resources-wood">
     <p class='white-text'><%= current_user.resources_amounts[:wood] %></p>
     <img src="<%= asset_path( 'wood_new.svg' ) %>" height="32px" width="24px" />
     </div>

      <div class ='d-flex' id="resources-water">
     <p class='white-text'><%= current_user.resources_amounts[:water] %></p>
     <img src="<%= asset_path( 'water_new.svg' ) %>" height="32px" width="24px" />
     </div>

      <div class ='d-flex' id="resources-gold">
     <p class='white-text'><%= current_user.resources_amounts[:gold] %></p>
     <img src="<%= asset_path( 'gold_new.svg' ) %>" height="40px" width="32px" />
     </div>

      <div class ='d-flex' id="resources-gems">
     <p class='white-text'><%= current_user.gems %></p>
     <img src="<%= asset_path( 'gem.png' ) %>" height="40px" width="32px" />
     </div>

   </div>
 </div>

<script>
  backBtn = document.getElementById("back-button");
    backBtn.addEventListener("click", () => {
      window.location.href = "/games/main";
    })

  document.querySelectorAll(".buy-back-btn").forEach((btn) => {
    btn.addEventListener("click", () => {
      window.location.href = "/games/main";
    })
  })

  // 1. Get the button by its ID
  // 2. Add an event to it (react to 'click' event)
  // 3. When event is triggered, redirect somewhere else
</script>
