

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="exchange-tab" data-toggle="tab" href="#exchanged" role="tab"><i class="fas fa-exchange-alt fa-2x"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="dudes-tab" data-toggle="tab" href="#dudes" role="tab"><i class="fas fa-users fa-2x"></i></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="structures-tab" data-toggle="tab" href="#structures" role="tab"><i class="fas fa-tools fa-2x"></i></a>
  </li>
</ul>


<!-- approach 1 -->
 <!-- send get request , 'shop/:filter' -->
 <!-- @search = params[filter'] -->
 <!-- approach 2 -->
 <!-- javascript when filter is clicked -> display:none for non related , display: block for filter choice -->
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="exchanged" role="tabpanel">
    <div class="pg-exchange">
      <p>Trade 20 units of any resource into 1 <img src="https://pbs.twimg.com/profile_images/531994916181012480/EBap51cO_400x400.png" alt="" style="width:25px;height: 25px"></p>
      <%= form_tag inventory_exchange_path do %>
        <div class="resources">
          <div class="first-row-exchange">
            <div class="exchange-wood">
              <a href="#" class="resource-chooser" data-resource="wood" data-amount="100">
                <div class="card-trip-exchange">
                  <img src="https://files.slack.com/files-pri/T02NE0241-FUPHY18VA/log-2.png" />
                  <div class="card-trip-infos">
                  <h2>Wood</h2>
                  </div>
                </div>
              </a>
            </div>

            <div class="exchange-water">
              <a href="#" class="resource-chooser" data-resource="water" data-amount="100">
                <div class="card-trip-exchange">
                  <img src="https://files.slack.com/files-pri/T02NE0241-FUQ1UP6SU/water-2.png" />
                  <div class="card-trip-infos-exchange">
                  <h2>Water</h2>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="second-row-exchange">

            <div class="exchange-metal">
              <a href="#" class="resource-chooser" data-resource="metal" data-amount="100">
                <div class="card-trip-exchange">
                  <img src="https://files.slack.com/files-pri/T02NE0241-FURT82CHM/metal-2.png" />
                  <div class="card-trip-infos">
                  <h2>Iron</h2>
                  </div>
                </div>
              </a>
            </div>

            <div class="exchange-gold">
              <a href="#" class="resource-chooser" data-resource="gold" data-amount="5">
                <div class="card-trip-exchange">
                  <img src="https://files.slack.com/files-pri/T02NE0241-FUS80N2HL/gold.png" />
                  <div class="card-trip-infos">
                  <h2>Gold</h2>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="submitted-exchange-fields">
            <div class="quant-exchanged">
            <%= number_field_tag :amount, 0, min: 0 %>
            </div>

            <%= hidden_field_tag 'material', :wood %>
            <%= submit_tag "Exchange!" %>
          <% end %>
        </div>
    </div>
  </div>
  <div class="tab-pane fade" id="dudes" role="tabpanel">
        <h1>this is the dudes page</h1>
  </div>

  <div class="tab-pane fade" id="structures" role="tabpanel">
    <div class="structures">
      <div class="structure-cards">
        <div class="structure-card-item">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="structure-card-item-infos">
            <div class="structure-card-row">
              <div class="structure-card-flex-item">
                <h2>Barrack</h2>
              </div>
              <div class="structure-card-flex-item">
                <div class="resource-price-bar">
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'gold_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'wood_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'iron_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'water_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                </div>
              </div>
              <div class="structure-card-flex-item">
                <a class="structure-buy-btn" href="#" id="barrack" data-structure="barrack" >Buy Now!</a>
              </div>
            </div>
          </div>
        </div>

        <div class="structure-card-item">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="structure-card-item-infos">
            <div class="structure-card-row">
              <div class="structure-card-flex-item">
                <h2>Wheel</h2>
              </div>
              <div class="structure-card-flex-item">
                <div class="resource-price-bar">
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'gold_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'wood_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'iron_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'water_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                </div>
              </div>
              <div class="structure-card-flex-item">
                <a class="structure-buy-btn" href="#" id="wheel" data-structure="wheel" >Buy Now!</a>

              </div>
            </div>
          </div>
        </div>
        <div class="structure-card-item">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="structure-card-item-infos">
           <div class="structure-card-row">
             <div class="structure-card-flex-item">
               <h2>Boat</h2>
             </div>
             <div class="structure-card-flex-item">
               <div class="resource-price-bar">
                   <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'gold_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'wood_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'iron_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'water_new.svg' ) %>" height="24px" width="16px" />
                  </div>
               </div>
             </div>
             <div class="structure-card-flex-item">
               <a class="structure-buy-btn" href="#" id="boat" data-structure="boat" >Buy Now!</a>
             </div>
           </div>
          </div>
        </div>
        <div class="structure-card-item">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="structure-card-item-infos">
            <div class="structure-card-row">
              <div class="structure-card-flex-item">
                <h2>Wall</h2>
              </div>
              <div class="structure-card-flex-item">
                <div class="resource-price-bar">
                   <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'gold_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'wood_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'iron_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                  <div class="resource-price">
                    <p>20</p>
                    <img src="<%= asset_path( 'water_new.svg' ) %>" height="24px" width="16px" />
                  </div>
                </div>
              </div>
              <div class="structure-card-flex-item">
                <a class="structure-buy-btn" href="#" id="wall" data-structure="wall" >Buy Now!</a>
              </div>
            </div>
        </div>
      </div>
    </div>


  </div>
</div>
<div class="bar-container" style="background-color: black">
  <div class="bd-highlight res-bar">

     <div class="d-flex">
      <p class='white-text'>5</p>
     <img src="<%= asset_path( 'iron_new.svg' ) %>" height="32px" width="24px" />
     </div>

     <div class ='d-flex'>
     <p class='white-text'>5</p>
     <img src="<%= asset_path( 'wood_new.svg' ) %>" height="32px" width="24px" />
     </div>

      <div class ='d-flex'>
     <p class='white-text'>5</p>
     <img src="<%= asset_path( 'water_new.svg' ) %>" height="32px" width="24px" />
     </div>

      <div class ='d-flex'>
     <p class='white-text'>5</p>
     <img src="<%= asset_path( 'gold_new.svg' ) %>" height="40px" width="32px" />
     </div>

      <div class ='d-flex'>
     <p class='white-text'>5</p>
     <img src="<%= asset_path( 'gem.png' ) %>" height="40px" width="32px" />
     </div>

   </div>
 </div>

