

<!-- add a background image in a carosel feature
the background image has a header over the top that says something
like buy units
there is two buttons on the page, one to buy 1, one to buy 5
when you press the button a pop up occurs
the pop up has some animation, then shows the guy you got
the guy you got is random from a method that needs to be created
this method gives you a certain percentage to get each guy
the picture of the guy pops up, and when you press on it you are
returned to the buy screen
if you press the buy 5 button the method is ran 5 times
your inventory is updated with the unit that you bought
there are two different pages, one to buy fighters, one for mages
actions are the same on both pages -->


<!-- run migration, update database with all the fields needed for units

update database create a new one for structures, create the tables
 -->

<body style="background-color: black">

<div id="addUserUnitCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#addUserUnitCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#addUserUnitCarousel" data-slide-to="1"></li>
    <li data-target="#addUserUnitCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <%= cl_image_tag('firstmeeting1_xusbw5', width: 200, height: 400,
                       crop: :fill, class: 'd-block w-100 h-100') %>
      <div class="carousel-caption">
        <h1> Buy a Fighter!</h1>
        <div class="buy-fighter-buttons">
          <div>
            <%= link_to 'Buy 1', '#',
                        data: { amount: 1 },
                        id: 'add-one-unit',
                        class: 'btn btn-secondary rounded' %>
          </div>
          <div>
            <%= link_to 'Buy 10', '#',
                        data: { amount: 10 },
                        id: 'add-ten-units',
                        class: 'btn btn-secondary rounded' %>
          </div>
        </div>
      </div>
    </div>



    <div class="carousel-item">
      <%= cl_image_tag('mages1_cqusxs', width: 200, height: 400,
                       crop: :fill, class: 'd-block w-100 h-100') %>
      <div class="carousel-caption">
        <h1> Buy a Mage!</h1>
        <div class="buy-fighter-buttons">
          <div>
            <%= link_to 'Buy 1', '#',
                        data: { amount: 1 },
                        id: 'add-one-unit',
                        class: 'btn btn-secondary rounded' %>
          </div>
          <div>
            <%= link_to 'Buy 10', '#',
                        data: { amount: 10 },
                        id: 'add-ten-units',
                        class: 'btn btn-secondary rounded' %>
          </div>
        </div>
      </div>
    </div>


    <div class="carousel-item">
      <%= cl_image_tag('caravan2_rwroyn', width: 100, height: 200,
                       crop: :fill, class: 'd-block w-100 h-100') %>
      <div class="carousel-caption">
        <h1>Something to Trade?</h1>
        <div class="buy-fighter-buttons">
          <div id="add-one-unit" data-amount='1'>
            <%= link_to 'Wood', '#', class: 'btn btn-secondary rounded' %>
          </div>
          <div id="add-five-unit" data-amount='5'>
            <%= link_to 'Water', '#', class: 'btn btn-secondary rounded' %>
          </div>
          <div id="add-one-unit" data-amount='1'>
            <%= link_to 'Iron', '#', class: 'btn btn-secondary rounded' %>
          </div>
          <div id="add-five-unit" data-amount='5'>
            <%= link_to 'Gold', '#', class: 'btn btn-secondary rounded' %>
          </div>
        </div>
      </div>
    </div>

  </div>
  <a class="carousel-control-prev" href="#addUserUnitCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#addUserUnitCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>







<script>


  let handleUnitCreation = (amount) => {
    let formPayload = new FormData()
    let body = JSON.stringify({
      amount: amount.dataset.amount
    })
    formPayload.append('user_units', body);

    sendRequest(formPayload)
  }

  let sendRequest = (body) => {
    let csrf = document.querySelector('meta[name="csrf-token"]')
    fetch('http://localhost:3000/user_units', {
      method: 'post',
      headers: {
        'X-CSRF-Token': csrf.content
      },
      body: body
    })
  }

  let addOne = document.querySelector('#add-one-unit');
  let addTen = document.querySelector('#add-ten-units');

  addOne.addEventListener('click', (e) => {
    e.preventDefault()
    handleUnitCreation(addOne)
  })

  addFive.addEventListener('click', (e) => {
    e.preventDefault()
    handleUnitCreation(addFive)
  })

</script>

<!-- type is 1 or.5 -->
