<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Last Resort - Those who dare win</title>
<!--     <og:title>Last Resort</og:title>
    <og:description>Upcoming in 2020: Build your base , robe your friends , become the biggest Empire</og:description> -->
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css" />
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <%= yield %>
    <% if request.fullpath == '/games/main' %>
      <%= javascript_pack_tag 'gamepage' %>
    <% end %>
    <% if request.fullpath == '/friends/show' %>
      <%= javascript_pack_tag 'friends' %>
    <% end %>
        <%= javascript_pack_tag 'typedPack' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
    <!-- <%= link_to 'sign out',  destroy_user_session_path, method: :delete  %> -->
    <%= render 'layouts/flash_messages' %>
  </body>
</html>
