<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>

    <%= yield %>
    <% if request.fullpath == '/games/main' %>
      <%= javascript_pack_tag 'gamepage' %>
    <% end %>
        <%= javascript_pack_tag 'typedPack' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
    <!-- <%= link_to 'sign out',  destroy_user_session_path, method: :delete  %> -->
  </body>
</html>
