<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
    <!-- <link rel="stylesheet" href="base.css"> -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.7.0/mapbox-gl.css" rel="stylesheet" />
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
<!--     <div class="container">
      <button id="switch">Switch</button>
      <div id="map"
        data-markers="<%= @cache_resources.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div> -->

    <%= yield %>
    <!-- <%= javascript_pack_tag 'gamepage' %> -->
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
    <%= link_to 'sign out',  destroy_user_session_path, method: :delete  %>
  </body>
</html>
